.App {
  text-align: center;
  font-family: 'Marck Script';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fbfbfb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Yanone Kaffeesatz';
  color: #424242;
}

.App-link {
  color: #61dafb;
}
